<div class="audioplayer" ng-class="{ 'audioplayer-playing':player.playing, 'audioplayer-mute':player.mute } ">
    <div class="audioplayer-playpause" ng-class="{ playing:player.playing, pause:player.playing }" title="Play"
         ng-click="play_pause_player()"><a href="#">Play</a></div>
    <div class="audioplayer-bar" ng-click="view_track_info()">
        <div class="station-title"
             id="<< player.playlist_id >>"
             data-slug="<< player.slug >>">
            << player.station >>
        </div>
    </div>
    <div class="audioplayer-stations" title="Stations" ng-click="open_stations()"><i class="icon-reorder"></i></div>
    <div id="dd" class="wrapper-dropdown-2" tabindex="1">
        <div id="content_1" class="content">
            <ul class="dropdown">
                <li ng-repeat="station in stations">
                    <a href="#" class="<< station.name >>" id="<< station.soundcloud_id >>"
                       data-slug="<< station.slug >>"
                       onclick="return false"
                       ng-click="select_station(station)"><i></i><< station.name >></a>
            </ul>
        </div>
    </div>
    <div class="audioplayer-volume" ng-click="adjust_handler($event)">
        <li class="volume-control">
            <div class="audioplayer-volume-button" title="Volume"><a href="#" onclick="return false" class="volume-icon">Volume</a></div>
            <div class="audioplayer-volume-adjust" >
                <div>
                    <div class="player-volume-bar" style="height: 100%;"></div>
                </div>
            </div>
        </li>
    </div>

    <div class="player-end"></div>

</div>

