<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" ng-app="tunely">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
          content="majestic, ambient, indie current, chilled dubstep music, the_accidental_poet,hip-hop,music, radio, soundcloud, internet radio">
    <meta name="description" content="Music stations with sets from popular youtube channels">
    <link rel="SHORTCUT ICON" HREF="{% static 'images/icon.png' %}">
    <link type="text/plain" rel="author" href="http://tunely.co/humans.txt"/>
    <title>Tunely{% if not main %} / {{ station.name }}{% endif %}</title>

    <meta id="social_graph_title" property="og:title"
          content="{% if main %}Tunely{% else %}{{ station.name }}{% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://tunely.co{% static 'images/tunely_og.png' %}"/>
    <meta id="social_graph_link" property="og:url"
          content="http://tunely.co/{% if  main %}{% else %}{{ station.slug }}{% endif %}">

    {% include 'components/analytics.html' %}

    {% load compress %}

    <!--css imports-->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    {% compress css %}
{#        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>#}
{#        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}"/>#}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/player.css' %}"/>
{#        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">#}
        <link rel="stylesheet" href="{% static 'css/font-awesome-social.css' %}">

        {% if single_station %}
            <style>
                .audioplayer-bar {
                    width: 19.9em;
                }
            </style>
        {% endif %}
        {% block additionalCSS %}
        {% endblock %}
    {% endcompress %}


</head>
<body ng-controller="tune_player">

<header>
    {% block content %}
    {% endblock %}

</header>


<div class="info_panel">
    <div class="overlay"></div>
    {% block  panel %}
    {% endblock %}

</div>

<!--/span-->


<footer>
    <div class="fb-like" data-href="https://www.facebook.com/tunely.co" data-send="true" data-layout="button_count"
         data-width="450" data-show-faces="false"></div>

    <a id="feedback_btn" rel="leanModal" name="feedback" href="#feedback">Write me</a>

</footer>
<div onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=155250404565022";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--js imports-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
{% compress js %}
    <script type="text/javascript" src="{% static 'js/angular-resource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.backstretch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.leanModal.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sdk.js' %}"></script>
    <script>
        var tunely_app = angular.module('tunely', ['ngResource']);
        angular.module('tunely').constant("init_constants", {

            'Player': {
                client_id: '6dc6a4ae9270aa4e4af5b07e58efa556',
                tracklist: false, // song-list array
                volume: 100, // volume controlled by user
                sc: '', // Sound_cloud controller.
                slug: '{{ station.slug }}',
                current_track: false,
                next_track: false,
                station: '{{ station.name }}',
                playlist_id: '{{ station.station_id }}',
                first_start: true,
                playing: false,
                checker: '',
                volumeHeight: 62,
                mute: false,
                debug: false    },

            'radio_stations': [
                {% for station in stations %}
                    {
                        'name': '{{station.name}}',
                        'soundcloud_id': '{{ station.station_id}}',
                        'slug': '{{ station.slug }}'
                    },
                {% endfor %}
            ]
        })
    </script>
    <script type="text/javascript" src="{% static 'js/tunegular.js' %}"></script>


{% endcompress %}


{% compress js %}
    {% block additionalJS %}
    {% endblock %}
{% endcompress %}

{% include 'components/feedback.html' %}

{% if backgrounds %}
    <script>
        $.backstretch([
            {% for background in backgrounds %}
                "http://tunely.co/media/{{ background.bg_image }}",
            {% endfor %}
        ], {duration: 25000, fade: 750});
    </script>
{% endif %}

</body>


</html>