<div class="skip_song"><i class="icon-step-forward"></i></div>

<div class="song_user"> << player.current_track.user.username >> </div>
<div class="song_title"> << player.current_track.title >></div>


<div class="sc_button">
    <a style="text-decoration: none;" target="_blank" href=""><i class="icon-soundcloud"></i></a>
</div>
<div class="social_share">
    <a id="fb_station_share" style="text-decoration: none;" href="#" target="_blank">
        <i class="icon-facebook"></i>
    </a>
    <a id="tw_station_share" style="text-decoration: none;" href="#" target="_blank">
        <i class="icon-twitter"></i>
    </a>
</div>

{#<div class="ban_track">#}
{#    <i class=" icon-minus-sign" title="Vote to ban track"></i>#}
{#</div>#}
