<div class="audioplayer" ng-class="{ 'audioplayer-playing':player.playing, 'audioplayer-mute':player.mute } ">
    <div class="audioplayer-playpause" ng-class="{ playing:player.playing, pause:player.playing }" title="Play"
         ng-click="play_pause_player()">
        <a href="#" ng-class="{'hide':!tracklist_ready}" class="hide">Play</a>

        <div id="floatingCirclesG" ng-class="{'hide':tracklist_ready}">
            <div class="f_circleG" id="frotateG_01">
            </div>
            <div class="f_circleG" id="frotateG_02">
            </div>
            <div class="f_circleG" id="frotateG_03">
            </div>
            <div class="f_circleG" id="frotateG_04">
            </div>
            <div class="f_circleG" id="frotateG_05">
            </div>
            <div class="f_circleG" id="frotateG_06">
            </div>
            <div class="f_circleG" id="frotateG_07">
            </div>
            <div class="f_circleG" id="frotateG_08">
            </div>
        </div>
    </div>
    <div class="audioplayer-bar" ng-click="view_track_info()">
        <div class="station-title"
             id="<< player.playlist_id >>"
             data-slug="<< player.slug >>">
            << player.station >>
        </div>
    </div>
    <div class="audioplayer-stations" title="Stations" ng-click="open_stations()"><i class="icon-reorder"></i></div>
    <div class="audioplayer-volume" ng-click="adjust_handler($event)">
        <li class="volume-control">
            <div class="audioplayer-volume-button" title="Volume"><a href="#" onclick="return false"
                                                                     class="volume-icon">Volume</a></div>
            <div class="audioplayer-volume-adjust">
                <div>
                    <div class="player-volume-bar" style="height: 100%;"></div>
                </div>
            </div>
        </li>
    </div>

    <div class="player-end"></div>

</div>


